body {
	background: #FFF740 url('../images/Cats.jpg');
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 100%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #FFF740;
	color: BlanchedAlmond;
	min-height: 100px;
	margin-top: 60px;
}

header h1 {
	color:#B30928;
	padding: 40px 60px;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 60px;
	text-align:center;
	font-weight:bold;

}


/* Nav styles */
nav { background-color: #0A94CC; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; 
font-family:'Mountains of Christmas', cursive;
font-size:24px;  }
nav a { color: BlanchedAlmond; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color:clear;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}
h2{
	font-family:'Helvetica', cursive;
	font-weight:bold;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}

main li{
	font-family:'Helvetica', cursive;
}



/* Footer styles */
footer { 
	background-color: #FFF740;
	color: #B30928;
	text-align: center;
	font-family:'Helvetica', thin;
 }
 footer p { padding: 20px; }
